<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.studyjams.s1.sj65.xiangchao">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoccerMain"
            android:label="@string/soccer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SoccerTheme"></activity>
        <activity
            android:name=".BasketballMain"
            android:label="@string/basketball"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BasketballTheme"></activity>
        <activity
            android:name=".BadmintonMain"
            android:label="@string/badminton"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BadmintonTheme"></activity>
        <activity
            android:name=".TableMain"
            android:label="@string/table_tennis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/TableTheme"></activity>
        <activity
            android:name=".volleyballMain"
            android:label="@string/volleyball"
            android:parentActivityName=".MainActivity"
            android:theme="@style/VolleyballTheme"></activity>
        <activity
            android:name=".BadmintonScore"
            android:label="@string/badminton"
            android:parentActivityName=".BadmintonMain"
            android:theme="@style/BadmintonTheme"></activity>
        <activity
            android:name=".BasketballScore"
            android:label="@string/basketball"
            android:parentActivityName=".BasketballMain"
            android:theme="@style/BasketballTheme"></activity>
        <activity
            android:name=".SoccerScore"
            android:label="@string/soccer"
            android:parentActivityName=".SoccerMain"
            android:theme="@style/SoccerTheme"></activity>
        <activity
            android:name=".TableScore"
            android:label="@string/table_tennis"
            android:parentActivityName=".TableMain"
            android:theme="@style/TableTheme"></activity>
        <activity
            android:name=".volleyballScore"
            android:label="@string/volleyball"
            android:parentActivityName=".volleyballMain"
            android:theme="@style/VolleyballTheme"></activity>
        <activity
            android:name=".BadmintonInt"
            android:label="@string/badminton"
            android:parentActivityName=".BadmintonMain"
            android:theme="@style/BadmintonTheme"></activity>
        <activity
            android:name=".BasketballInt"
            android:label="@string/basketball"
            android:parentActivityName=".BasketballMain"
            android:theme="@style/BasketballTheme"></activity>
        <activity
            android:name=".SoccerInt"
            android:label="@string/soccer"
            android:parentActivityName=".SoccerMain"
            android:theme="@style/SoccerTheme"></activity>
        <activity
            android:name=".TableInt"
            android:label="@string/table_tennis"
            android:parentActivityName=".TableMain"
            android:theme="@style/TableTheme"></activity>
        <activity
            android:name=".volleyballInt"
            android:label="@string/volleyball"
            android:parentActivityName=".volleyballMain"
            android:theme="@style/VolleyballTheme"></activity>


    </application>

</manifest>